.home-parent {
	display: flex;
	flex-direction: column;
	align-items: center; /* This centers items horizontally in the container */
	justify-content: center; /* This centers items vertically in the container */
	height: auto;
	padding: 1rem;
	overflow: hidden;
  }
  
.home-mobile{
	padding: 0rem 2rem 1rem 2rem;
}
.home-mobileP{
	margin-bottom: 2rem;
	padding: 0rem 2rem 1rem 2rem;
}

.home-button{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 2rem;
}

.home-computer-mobile{
	display:flex;
	flex-direction: column;
}

.home-mobile-text{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem 2rem 1rem 2rem;
}
.home-mobile-four{
	margin-bottom: 1rem;
	font-size: 1.2rem;

}
.home-mobile-text p{
	margin-bottom: 1rem;
	font-size: 1.2rem;
}
.home-biggerScreen{
	display: none;
}
.home-biggerScreenIpad{
	display: none;
}

  
/* Medium enheter (landskapsplattor, 768px och uppåt) */
@media only screen and (min-width: 768px) {
	/* Dölja element som inte ska visas */
	.home-parent {
		display: flex;
		flex-direction: column;
		align-items: center; /* This centers items horizontally in the container */
		padding: 1rem;
		margin-top: 2rem;
	  }
	.home-mobile{
	  display: none;
	}


	.home-computer-mobile{
		display:flex;
		flex-direction: row;
	}

	.home-biggerScreen {
	  display: flex;
	flex-direction: row;
	  padding: 1rem;
	}
	.home-hOne, 
	.home-hTwo, 
	.home-sibling {
		z-index: 4;

	}
	.home-hTwo{
		padding: 0rem 25rem 1rem 0rem;
	}
	.home-sibling{
		margin-top: 2rem;
		padding: 0rem 25rem 1rem 0rem;
		z-index: 4;
	}

	.home-girl {
		position: absolute;
		width: 53%; /* Justera storlek efter behov */
		top: 47%; /* Centrera vertikalt, justera efter behov */
		left: 73%; /* Centrera horisontellt, justera efter behov */
		transform: translate(-50%, -50%); /* Centrerar exakt */
		z-index: 3; /* Överst */
		overflow: hidden;
	}
	.home-star {
		display:none;
	}
	
	.home-button{
		display: flex;
		flex-direction: row;
		margin-top: 1rem;
		width: 100%;
		margin-left:5rem ;


	}
	.home-biggerScreenIpad{
		margin-top: 5rem;
		display:flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;


	}
	
	.home-mobile-textIpad{
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 2rem 3rem 1rem 3rem;
	}
	.home-mobile-fourIpad{
		margin-bottom: 1rem;
		font-size: 1.5rem;
	
	}
	.home-mobile-textIpad p{
		margin-bottom: 1rem;
		font-size: 1.5rem;
	}
  
  }
  @media only screen and (min-width: 820px) {
.home-biggerScreenIpad{
	display: none;
  }
  .home-star {
	position: absolute;
	width: 80%; /* Justera storlek efter behov */
	top: 12%; /* Justera placering efter behov */
	left: 65%; /* Centrera horisontellt, justera efter behov */
	transform: translateX(-50%); /* Centrerar horisontellt */
	z-index: 1; /* Bakom allt annat */
	border: solid 1px black; /* För visning, ta bort eller ersätt efter behov */
  
}
}
  
  @media only screen and (min-width: 1024px) {
	.home-biggerScreenIpad{
		display: none;
	  }
	  .home-star {
		position: absolute;
		width: 80%; /* Justera storlek efter behov */
		top: 12%; /* Justera placering efter behov */
		left: 65%; /* Centrera horisontellt, justera efter behov */
		transform: translateX(-50%); /* Centrerar horisontellt */
		z-index: 1; /* Bakom allt annat */
		border: solid 1px black; /* För visning, ta bort eller ersätt efter behov */
	  
	}
  }
  
  /* Extra stora enheter (stora desktops, 1200px och uppåt) */
  @media only screen and (min-width: 1200px) {
	.home-star {
		position: absolute;
		width: 80%; /* Justera storlek efter behov */
		top: 12%; /* Justera placering efter behov */
		left: 65%; /* Centrera horisontellt, justera efter behov */
		transform: translateX(-50%); /* Centrerar horisontellt */
		z-index: 1; /* Bakom allt annat */
		border: solid 1px black; /* För visning, ta bort eller ersätt efter behov */
	  
	}
  }
  