/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Kaisei+Decol&family=Koulen&display=swap');
/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Base font styles and background */
html,
body {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E4E4E4;

}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


/* Code font styling */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Root variables for easy theme management */
:root {
  --primary-color: #2B2F2F;
  --secondary-color: #3D3C3C;
  --accent-color: white;
  --third-color: #FEF6EB;
  --background-color: #EDE7E3;
  --font-family-main: '', sans-serif;
  --font-family-special: 'Sedgwick Ave Display', cursive;
}

/* Heading and paragraph font styling */
h1, h2, h3, h4, h5, h6{
  font-family: 'DM Serif Display', sans-serif;
}

/* Specific heading styles */
h1 {
  font-size: 4rem;
  font-weight: bold;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}
p{
  font-family: 'Kaisei Decol', sans-serif;
}

button {
  font-family: 'Koulen', sans-serif;
  color:var(--secondary-color) ;
  font-size: 1.2rem;
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  background-color: var(--accent-color);
  box-shadow: 8px 8px 40px 0px rgba(0, 0, 0, 0.15);

}

.app-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}